.App {
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
  /* background-color: #ffc89b; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: rgb(0, 0, 0);
}

.LoginButton {
  font-family: 'Montserrat', sans-serif;
}